*{
    margin: 0;
    padding: 0;
}


@font-face {
    font-display: swap;
    font-family: 'Albert Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/albert-sans-v1-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Albert Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/albert-sans-v1-latin-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Albert Sans';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/albert-sans-v1-latin-200.woff2') format('woff2');
}


@font-face {
    font-display: swap;
    font-family: 'Albert Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/albert-sans-v1-latin-600.woff2') format('woff2');
}

:root{
    --header-word-size: 16px;
    --body-color: #1d1e23;
    --primary-color: #ffffff;
    --second-color: #bd53ed;
}

html{
    background: #eeeeee;
    font-size: 10px;
}
li{
    list-style: none;
}
.root{
    width: 100%;
}

header {
    width: 100%;
    background: url('../images/banner.png');
    height: 40vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.header-container {
    position: fixed;
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.75);
    z-index: 1000;
}

.header-box{
    width: 80%;
    height: 6rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 4rem;

}

.autosign-image {
    width: 93px;
    height: 36px;
    margin-top: 2px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.main-nav{
    height: 100%;
    flex: auto;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

.main-nav-item{
    display: flex;
}

.nav-main-list{
    display: flex;
}


.list-item{
    color: #2B2B2B;
    font-size: 1.5rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    white-space: nowrap;  /* Prevent text from wrapping */
    overflow: hidden; /* Optionally hide overflowing text */
    text-overflow: ellipsis; /* Optionally show ellipsis if text overflows */
}

.main-nav-button {
    display: flex;
}

.button-box {
    height: 6rem;
    padding: 2rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav__link {
    position: relative;
    display: inline-block;
    padding: 1rem 0;
    text-decoration: none;
    color: inherit;
    font-family: 'Albert Sans', sans-serif;
    font-size: var(--header-word-size);
    color: #FFFFFF;
}


.nav__link:not(.autosign)::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFFFFF;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}


.nav__link:not(.autosign):hover::before {
    visibility: visible;
    transform: scaleX(1);
}

.autosign-image:hover {
    transform: scale(1.1); /* 轻微放大 */
    opacity: 0.8; /* 降低透明度 */
}

.nav__link.active {
    font-weight: bold;
}

.nav__link.notactive {
    font-weight: normal;
}

.send-email {
    background: #333;
    border: 1px solid #333;
    border-radius: 4px;
    color: #fff;
    font-family: 'Albert Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 24px;
    height: 30px;
    width: 80px;
    text-align: center;
    align-items: center;
    transition: background-color 0.3s ease; /* Smooth color transition on hover */
    cursor: pointer;
}

.email-image {
    width: 16px; 
    height: 12px;
    margin-left: 8px; 
}

.send-email:hover {
    background-color: #666;
    border: #666;
}

.phone-show{
    display: none;
}


.banner-text-container {
    position: absolute;
    left: 50%; 
    transform: translate(-50%, -50%);
    text-align: center;
}

.slogan {
    margin: 1.5rem 0 3.5rem;
    font-family: 'Albert Sans', sans-serif;
    color: #FFFFFF;
    line-height: 4rem;
    font-size: 28px;
    font-weight: 200;
}



.greeting {
    display: flex; /* Aligns the elements in a row */
    justify-content: center; /* Centers the content horizontally */
    align-items: center; /* Centers the content vertically */
    gap: 10px; /* Adds space between the elements */
    margin-top: 50px; /* Adjusts top margin to give some space from the top of the page */
}
  
.shake-image {
    width: 50px; /* Adjust the width of the image as needed */
    height: auto;
    animation-name: wave-animation;
    animation-duration: 2.1s; /* Change to speed up or slow down */
    animation-iteration-count: infinite; /* Never stop waving :) */
    transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
    display: inline-block;
}

@keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    } /* The following five values can be played with to make the waving more or less extreme */
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    } /* Reset for the last half to pause */
    100% {
      transform: rotate(0deg);
    }
}


.hi {
    margin: 0;
    font-family: 'Albert Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #11100E;
}


.introduction {
    display: flex; /* Aligns the elements in a row */
    justify-content: center; /* Centers the content horizontally */
    align-items: center; /* Centers the content vertically */
    text-align: center;
}

.introduction p {
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: 'Albert Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #11100E;
    max-width: 550px;
}

.platform-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns layout */
    gap: 20px; /* Spacing between items */
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Albert Sans', sans-serif;
    margin-top: 30px;
}

.platform {
    height: 80px;
    padding: 30px;
    border-radius: 8px;
    background: #FFFFFF;
    border-radius: 20px;
}

.platform span:first-child {
    font-weight: regular;
    font-size: 1.8rem;
    display: block;
    margin-bottom: 10px;
}

.platform span:last-child {
    font-size: 1.5rem;
    color: #999;
}

.button-container {
    display: flex; /* Aligns the elements in a row */
    justify-content: center; /* Centers the content horizontally */
    align-items: center; /* Centers the content vertically */
    text-align: center;
    gap: 20px;
}

.download_resume {
    font-family: 'Albert Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: var(--header-word-size);
    line-height: 24px;
    width: 180px;
    height: 50px;
    text-align: center; /* Center the text */
    transition: background-color 0.3s ease; /* Smooth color transition on hover */
    background: #000000;
    border: 1px solid #FFFFFF;
    border-radius: 100px;
    color: #FFFFFF;
    cursor: pointer;
}


.watchvideo {
    border: 2px solid #000000;
    border-radius: 100px;
    color: #000000;
    font-family: 'Albert Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: var(--header-word-size);
    line-height: 24px;
    height: 50px;
    width: 180px;
    text-align: center;
    align-items: center;
    transition: background-color 0.3s ease; /* Smooth color transition on hover */
    cursor: pointer;
}

.download_resume:hover {
    background-color: #333;
    color: #fff;
}

.watchvideo:hover {
    background-color: #ddd;
}

.triangle-image {
    width: 9px;
    height: 11px;
    margin-left: 8px; 
}

.text-container {
    display: flex; /* Aligns the elements in a row */
    justify-content: center; /* Centers the content horizontally */
    align-items: center; /* Centers the content vertically */
    margin-top: 50px;
}

.text {
    margin: 0;
    font-family: 'Albert Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 58px;
    color: #11100E;
}


.selected {
    position: relative;
    display: flex; /* Aligns the elements in a row */
    justify-content: center; /* Centers the content horizontally */
    align-items: center; /* Centers the content vertically */
    top: 20px;
}

.project {
    font-family: 'Albert Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 3.6rem;
    line-height: 58px;
    color: #11100E;
}

.projects-class {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 两列布局 */
    gap: 40px; /* 控制 container 之间的间距 */
    width: 80%; /* 控制 container 的宽度 */
    margin: 20px auto; /* 居中整个 section */
    padding: 20px;
}

.project-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto; /* 统一高度 */
    overflow: hidden; /* 防止内容溢出 */
    padding: 30px; /* 边距 */
    box-sizing: border-box; /* 确保padding不会影响到容器的总宽度 */
    background: #FFFFFF;
    border-radius: 20px;
    transition: background 0.3s ease-in-out box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.project-container:hover {
    background: #FFFFFF; 
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

.project-image-container {
    width: 100%;
    height: 0;
    padding-bottom: 100%; /* Makes the image container square by using padding trick */
    position: relative;
}

.project-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the container without distortion */
    border-radius: 10px;
}

.project-text-container {
    width: 100%;
    height: 40%; /* Text container takes up the remaining 40% */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
    text-align: left;
    margin-top: 15px;
}

.company-name,
.project-title,
.project-introduction {
    margin: 5px 0;
    font-family: 'Albert Sans', sans-serif;
}

.company-name {
    color: #666;
}

.company-name, .project-introduction {
    font-size: 18px;
}

.project-title {
    font-size: 26px;
}

.project-introduction {
    height: 43px;
}



.footer-class {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 80px;

}
  
.footer-image {
    width: 100%;
    height: auto;
}
  
.footer-r1, .footer-r2 {
    position: absolute;
    width: 85%;
    display: flex;
    justify-content: space-between;
    /* height: 50px; */
}
  
.footer-r1 {
    /* top: 20%; */
    align-items: center;
    justify-content: space-between;
    position: absolute;
    margin-bottom: 70px;
    /* padding: 30 0 0 0; */
}


.left-group, .right-group {
    display: flex;
    align-items: center;
}
  
.left-group {
    justify-content: flex-start; /* Left-aligned */
    gap: 10px;
    margin-left: 40px;
}
  
.right-group {
    justify-content: flex-end; /* Right-aligned */
    gap: 30px;
    margin-right: 40px;
}
  
.c1, .footer-signauto {
    display: inline-block;
}
  
.footer-email, .footer-linkdein {
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
}
  
.footer-r2 {
    /* bottom: 10%; */
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 40px; */
    position: absolute;
    margin-top: 60px;
    height: 50px;
    line-height: 24px;
}
  
.cr1 {
    text-align: left;
    margin: 0;
    padding: 0;
    align-self: center;
    margin-left: 40px;
}
  
.cr2 {
    text-align: right;
    margin: 0;
    padding: 0;
    align-self: center;
    margin-right: 40px;
}

.cr1, .cr2 {
    color: #999;
}

.c1, .cr1, .cr2 {
    font-family: 'Albert Sans', sans-serif;
    font-size: 16px;
}

.c1 {
    font-size: 36px;
    color: #FFFFFF;
}

.footer-signauto {
    width: 102.67px;
    height: 42px;
}

.footer-email {
    width: 34px;
    height: 26px;
}

.footer-linkdein {
    width: 26px;
    height: 26px;
}

.footer-linkdein a {
    margin: 0;
    padding: 0;
    display: inline-block; /* Ensures the link doesn't affect the layout */
    text-decoration: none;
}

.footer-linkdein {
    transition: opacity 0.3s ease-in-out;
}

.footer-linkdein:hover {
    opacity: 0.7;
}

.footer-email {
    transition: opacity 0.3s ease-in-out;
}

.footer-email:hover {
    opacity: 0.7;
}

.back-to-top {
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5.5rem;
    width: 5.5rem;
    z-index: 1000;
    visibility: hidden;
    opacity: 0; 
    transform: scale(0.8); 
    transition: opacity 0.4s, visibility 0.4s, transform 0.4s;
    cursor: pointer;
}

.back-to-top.show {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.back-to-top__image {
    height: 90%;
}

@media (min-width: 1750px){
    .banner-text-container {
        top: 24%; 
        max-width: 100%;
    }

    .slogan {
        font-size: 4.5rem; 
        line-height: 6rem;
        
    }

    .download_resume {
        width: 240px;
        height: 60px;
        font-size: 2rem;
    }
    
    .watchvideo {
        width: 240px;
        height: 60px;
        font-size: 2rem;
    }

    .introduction p {
        font-size: 2.4rem;
        max-width: 870px;
        line-height: 3.2rem;
        margin-top: 15px;
        margin-bottom: 50px;
    }

    .platform-container {
        grid-template-columns: repeat(6, 1fr);
    }

    .platform {
        padding: 24px;
    }

    .platform span:last-child {
        font-size: 1.4rem;
    }

    .c1 {
        font-size: 40px;
    }

    .cr1, .cr2 {
        font-size: 20px;
        line-height: 28px;
    }


    .footer-r2 {
        height: 60px;
    }

    .project-title {
        font-size: 36px;
    }

    .project-introduction {
        font-size: 20px;
    }

    .project-text-container {
        margin: 10px;
    }
}


@media screen and (min-width: 1281px) and (max-width: 1749px) {
    .banner-text-container {
        top: 24%;
    }

    .slogan {
        font-size: 4rem; 
        line-height: 5.8rem;
        
    }

    .download_resume {
        width: 240px;
        height: 60px;
        font-size: 2rem;
    }
    
    .watchvideo {
        width: 240px;
        height: 60px;
        font-size: 2rem;
    }

    .introduction p {
        font-size: 2.4rem;
        max-width: 870px;
        line-height: 3.2rem;
        margin-top: 15px;
        margin-bottom: 50px;
    }


    .c1 {
        font-size: 40px;
    }

    .cr1, .cr2 {
        font-size: 20px;
        line-height: 28px;
    }


    .footer-r2 {
        height: 60px;
    }

}


@media screen and (min-width: 1151px) and (max-width: 1280px) {
    .banner-text-container {
        top: 26%;
    }




}



@media screen and (min-width: 834px) and (max-width: 1151px) {
    header{
        background: url(../images/banner1024.png);
        height: 43vh;
    }
    .banner-text-container {
        top: 26%;
    }



}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .banner-text-container {
        top: 26%;
    }

   .header-box {
       width: 90%;
   }
   .logo{
       min-width: 160px;
       margin-right: 2rem;
   }
   .button-box{
       padding: 0 2rem;
   }
   .content{
       width: 90%;
   }
   .list-item{
       padding: 0 1.5rem;
   } 
    .projects-class {
        grid-template-columns: 1fr; /* 一列布局 */
    }

}

@media screen and (max-width: 768px) {

    header{
        background-attachment: scroll; /* Disable fixed background for mobile */
        height: 30vh; /* Adjust the height for better visibility on smaller screens */
        background-position: center;
    }

   .header-box{
       width: 90%;
       position: relative;
   }
   .logo{
       min-width: 160px;
       margin-right: 2rem;
   }
   .button-box{
       padding: 0 2rem;
       font-size: 1.5rem;
   }
   .content{
       width: 80%;
   }
   .list-item{
       padding: 0 1.5rem;
   } 

   /* 手机端样式 */
   .main-nav-item{
       display: none;
       position: absolute;
       width: 10rem;
       right: 0;
       top: 6.5rem;
       border-radius: .5rem;
   }
   .nav-main-list{
       width: 100%;
       background: #000000;
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       border-radius: .5rem;
   }
   .list-item{
       width: 100%;
       margin: 0 1rem;
       border-bottom: 1px solid #FFFFFF;
   }

    .list-item:last-child {
       border-bottom: none;
   }

   .phone-show{
       display: flex;
       height: 60px;
       width: 60px;
       justify-content: center; /* Center horizontally */
       align-items: center;     /* Center vertically */
   }
   .nav-btn{
       height: 60%;
       width: 60%;
       display: flex;
       flex-direction: column;
       flex-wrap: wrap;
       justify-content: space-around;
   }
   .nav-btn span{
       display: inline-block;
       height: 4px;
       width: 40px;
       background: #FFFFFF;
   }
   .banner-text-container {
        top: 20%;
        width: 90%;
   }
    .slogan {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .hi {
        font-size: 2.8rem;
        line-height: 2.5rem;
    }

    .page1-project-container {
        margin-top: 40px;
    }
    
    .selected {
        top: 20px;
    }

    .project{
        font-size: 30px;
    }

    .projects-class {
        grid-template-columns: 1fr; /* 一列布局 */
        padding: 10px 0px;
    }

    .project-text-container {
        margin-bottom: 20px;
    }

    .platform-container {
        display: none;
    }
    .text {
        font-size: 2.3rem;
        line-height: 2.5rem;
    }

    .button-container {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 50%; /* 居中整个 section */
    }
    
    footer {
        min-height: 120px; /* 适配手机端更高 */
        background: #000000;
    }

    .footer-class {
        position: absolute;
        margin-top: 50px;
    }

    .footer-image {
        display: none;
    }

    .c1 {
        font-size: 20px;
    }

    .footer-r1{
        margin-bottom: 10px;
        width: 100%;
        margin-top: 20px;
    }

    .footer-r2 {
        display: none;

    }


    .cr2 {
        text-align: center;
        margin-right: 0px;
        font-size: 12px;
        line-height: 20px;
    }

    .footer-signauto {
        width: 85px;
        height: 30px;
    }

    .cr1 {
        display: none;
    }

    .left-group {
        justify-content: center;
        gap: 5px;
    }

    .right-group {
        justify-content: center;
        gap: 20px;
    }

    .introduction p {
        width: 85%;
    }

    .nav__link::before {
        display: none;
    }
    
    .nav__link:hover::before {
        display: none;
    }

    .back-to-top {
        right: 1rem;
        bottom: 10rem;
    }

}


@media screen and (max-width: 414px){
    header{
        background-attachment: scroll; /* Disable fixed background for mobile */
        height: 30vh; /* Adjust the height for better visibility on smaller screens */
        background-position: center;
    }

   .header-box{
       width: 90%;
       position: relative;
   }
   .logo{
       min-width: 160px;
       margin-right: 2rem;
   }
   .button-box{
       padding: 0 2rem;
       font-size: 1.5rem;
   }
   .content{
       width: 80%;
   }
   .list-item{
       padding: 0 1.5rem;
   } 

   /* 手机端样式 */
   .main-nav-item{
       display: none;
       position: absolute;
       width: 10rem;
       right: 0;
       top: 6.5rem;
       border-radius: .5rem;
   }
   .nav-main-list{
       width: 100%;
       background: #000000;
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       border-radius: .5rem;
   }
   .list-item{
       width: 100%;
       margin: 0 1rem;
       border-bottom: 1px solid #FFFFFF;
   }
    
   .list-item:last-child {
       border-bottom: none;
   }

   .phone-show{
       display: flex;
       height: 60px;
       width: 60px;
       justify-content: center; /* Center horizontally */
       align-items: center;     /* Center vertically */
   }
   .nav-btn{
       height: 60%;
       width: 60%;
       display: flex;
       flex-direction: column;
       flex-wrap: wrap;
       justify-content: space-around;
   }
   .nav-btn span{
       display: inline-block;
       height: 4px;
       width: 40px;
       background: #FFFFFF;
   }
   .banner-text-container {
        top: 20%;
        width: 90%;
   }
    .slogan {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .hi {
        font-size: 2.8rem;
        line-height: 2.5rem;
    }
    .projects-class {
        grid-template-columns: 1fr; /* 一列布局 */
    }

    .platform-container {
        display: none;
    }
    .text {
        font-size: 2.3rem;
        line-height: 2.5rem;
    }

    .button-container {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 50%; /* 居中整个 section */
    }

    footer {
        min-height: 120px; /* 适配手机端更高 */
        background: #000000;
    }

    .footer-class {
        position: absolute;
        margin-top: 50px;
    }

    .footer-image {
        display: none;
    }

    .c1 {
        font-size: 20px;
    }

    .footer-r1{
        margin-bottom: 20px;
    }

    .footer-r2 {
        display: none;

    }

    .footer-r1, .footer-r2 {
        width: 100%;
    }

    .cr2 {
        text-align: center;
        margin-right: 0px;
        font-size: 12px;
        line-height: 20px;
    }

    .footer-signauto {
        width: 85px;
        height: 30px;
    }

    .cr1 {
        display: none;
    }

    .left-group {
        justify-content: center;
        gap: 5px;
    }

    .right-group {
        justify-content: center;
        gap: 20px;
    }

    .introduction p {
        width: 85%;
    }

}


@media screen and (max-width: 375px){

    header{
        background-attachment: scroll; /* Disable fixed background for mobile */
        height: 30vh; /* Adjust the height for better visibility on smaller screens */
        background-position: center;
    }

   .header-box{
       width: 90%;
       position: relative;
   }
   .logo{
       min-width: 160px;
       margin-right: 2rem;
   }
   .button-box{
       padding: 0 2rem;
       font-size: 1.5rem;
   }
   .content{
       width: 80%;
   }
   .list-item{
       padding: 0 1.5rem;
   } 

   /* 手机端样式 */
   .main-nav-item{
       display: none;
       position: absolute;
       width: 10rem;
       right: 0;
       top: 6.5rem;
       border-radius: .5rem;
   }
   .nav-main-list{
       width: 100%;
       background: #000000;
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       border-radius: .5rem;
   }
   .list-item{
       width: 100%;
       margin: 0 1rem;
       border-bottom: 1px solid #FFFFFF;
   }

    .list-item:last-child {
        border-bottom: none;
    }

   .phone-show{
       display: flex;
       height: 60px;
       width: 60px;
       justify-content: center; /* Center horizontally */
       align-items: center;     /* Center vertically */
   }
   .nav-btn{
       height: 60%;
       width: 60%;
       display: flex;
       flex-direction: column;
       flex-wrap: wrap;
       justify-content: space-around;
   }
   .nav-btn span{
       display: inline-block;
       height: 4px;
       width: 40px;
       background: #FFFFFF;
   }
   .banner-text-container {
        top: 20%;
        width: 90%;
   }
    .slogan {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .hi {
        font-size: 2.8rem;
        line-height: 2.5rem;
    }
    .projects-class {
        grid-template-columns: 1fr; /* 一列布局 */
    }

    .platform-container {
        display: none;
    }
    .text {
        font-size: 2.3rem;
        line-height: 2.5rem;
    }

    .button-container {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 50%; /* 居中整个 section */
    }

    footer {
        min-height: 120px; /* 适配手机端更高 */
        background: #000000;
    }

    .footer-class {
        position: absolute;
        margin-top: 50px;
    }

    .footer-image {
        display: none;
    }

    .c1 {
        font-size: 20px;
    }

    .footer-r1{
        margin-bottom: 20px;
    }

    .footer-r2 {
        display: none;
    }

    .footer-r1, .footer-r2 {
        width: 100%;
    }

    .cr2 {
        text-align: center;
        margin-right: 0px;
        font-size: 12px;
        line-height: 20px;
    }

    .footer-signauto {
        width: 85px;
        height: 30px;
    }

    .cr1 {
        display: none;
    }

    .left-group {
        justify-content: center;
        gap: 5px;
    }

    .right-group {
        justify-content: center;
        gap: 20px;
    }

    .introduction p {
        width: 85%;
    }
}